body {
  font-family: "Roboto", "Open Sans", sans-serif;
  padding-top: 72px;
  padding-bottom: 50px;
  background-color: rgb(17, 16, 16);
  color: white;
}

i {
  font-family: "Open Sans", sans-serif;
}

.carousel-tile {
  background-size: contain;
  background-repeat: no-repeat;
}

.poster-Img {
  height: 300px;
  width: 300px;
}

.maxH80 {
  max-height: 80px;
}

.nav-item.active {
  font-weight: bold;
}

#hide-elem {
  display: none;
}

#lbl-btn {
  margin-left: 50px;
}

.bodyBtn {
  margin-top: 300px;
  margin-right: 20px;
}

@media screen and (max-width: 653px) {
  .bodyBtn {
    display: none;
  }
}

.txt-btn {
  font-size: 20px;
}

.titles-main {
  font-size: 25px;
}

.titles-main.first {
  font-size: 25px;
  margin-top: 100px;
}

@media screen and (max-width: 653px) {
  .titles-main.first {
    font-size: 20px;
  }
  .titles-main {
    font-size: 20px;
  }
}

#alt-text {
  display: none;
}

#main-div {
  background-image: url("../images/home_img_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  #main-div {
    background-image: url("../images/home_img_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.container {
  width: 100%;
}

#logo-navbar {
  width: 90px;
  height: 50px;
  margin-left: 30px;
}

.src-logo {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#src-logo-1 {
  display: none;
}

#src-logo-2 {
  display: block;
}

#src-btn {
  background-color: black;
  padding: 0;
  margin: 0;
  border: 0;
}

.drop-logo {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

.dropdown-menu {
  background-color: black;
  left: -90px;
}

.dropdown-item {
  color: white;
}

#search-input {
  background-color: black;
  color: white;
  display: none;
}
